<%= link_to 'Back', current_user %>

<h2>Flats Listing New</h2>
<div class='grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-2 mx-2'>
  <% @flats.each do |f| %> 
    <flat flat_json= "<%=f.to_json %>" time_ago="<%=time_ago_in_words(f.emailed_at)%>" current_page="<%= request.env['PATH_INFO'] %>"></flat>
  <% end %>
</div>


<%= link_to 'Back', current_user %>