<%= form_with(model: obj) do |form| %>
  <% if obj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(obj.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
        <% obj.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, 'Title' %>
    <%= form.text_field :title %>
  </div>

  <div>
  <%= form.label :comuna, 'Comuna' %>
  <%= form.select :comuna, [["Las Condes", "las-condes"], ["Vitacura", "vitacura"]]%>
  </div>

  <div>
    <%= form.label :bedroom, 'Habitaciones' %>
    <%= form.number_field :bedroom, in: 1..5, step: 1 %>
  </div>

  <div>
    <%= form.label :bath, 'Baños' %>
    <%= form.number_field :bath, in: 1..5, step: 1 %>
  </div>

  <div>
  <%= form.label :price_min, 'Precio Mínimo' %>
  <%= form.number_field :price_min, in: 0..10000000, step: 100000 %>
  </div>
  
  <div>
  <%= form.label :price_max, 'Precio Máximo' %>
  <%= form.number_field :price_max, in: 0..10000000, step: 100000 %>
  </div> 


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
