<h1>Busqueda: <%= @search_param.title %></h1>

<%= render 'layouts/searches', obj: [@search_param] %>

<h2>Flats</h2>
<%= link_to 'Back', current_user %>

<%= render 'layouts/flats', obj: @flats %>

<%= link_to 'Back', current_user %>