



<search-param search_param_json= "<%=@search_param.to_json%>"></search-param>

<%= link_to 'Back', current_user %>

<h2>Flats Listing New</h2>
<% @flats.each do |f| %> 
  <flat flat_json= "<%=f.to_json %>" time_ago="<%=time_ago_in_words(f.emailed_at)%>"></flat>
<% end %>

<%= link_to 'Back', current_user %>

