
<h1>Busqueda: <%= @search_param.title %></h1>

<%= render 'layouts/searches', obj: [@search_param] %>

<%= link_to 'Back', current_user %>

<h2>Flats Listing New</h2>
<% @flats.each do |f| %> 
  <flat flat_json= "<%=f.to_json %>" time_ago="<%=time_ago_in_words(f.emailed_at)%>"></flat>
<% end %>

<%= link_to 'Back', current_user %>

