<!DOCTYPE html>
<html>
  <head>
    <title>AhlFlatFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'vue'%>
    <%= javascript_pack_tag 'vue' %> 
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/alert' %>
    <div class='content' data-behavior="vue">
      <%= yield %>
    </div>
  </body>
</html>
